  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.navigation {
    display: flex;
    align-items: flex-end;
    margin-left: 60%;
}

.navigation a {
    letter-spacing: 0.1em;
    font-weight: 600;
    text-decoration: none;
    padding: 30px;
    color: black;
}

body {
    font-family: 'Lexend Exa', sans-serif;
}

.map-home-large {
    display: grid;
    grid-template-rows: 1fr 0.3fr;
}

.map-home {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 2vh;
    grid-row-start: 1;
}

.places {
    grid-column-start: 1;
    border: 1px solid black;
    width: 18vw;
    height: 60vh;
    margin-left: 15vh;
    overflow-y: scroll;
    margin-right: 2vw;
}

.placesin {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.selected-places {
    border: 1px solid black;
    height: 15vh;
    width: 80vw;
    margin-left: 15vh;
    margin-top: 1vh;
    overflow-x: scroll;
}

.button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    width: 100px;
    height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.welcome {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    justify-items: center;
}

.home {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    justify-items: center;
}

/* registration */
.regi-container-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}

.regi-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

.regi-container input {
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 40px;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    letter-spacing: 0.1em;
    /* background-color: #DCEFE0; */
}

.login-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    width: 23vw;
}

.login-container input {
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 40px;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    letter-spacing: 0.1em;
    /* background-color: #DCEFE0; */
}

.profile-body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile-box {
    display: flex;
    flex-direction: rows;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

.profile-img {
    border: 1px solid black;
    height: 20vh;
    width: 18vw;
    padding: 10px;
}

.profile-status {
    border: 1px solid black;
    height: 40vh;
    width: 20vw;
    padding: 10px;
}
