  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header {
    border: 1px solid black;
}

.map-home {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
}
