  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header {
    border: 1px solid black;
}

.map-home {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-top: 3vw;
}

.places {
    border: 1px solid black;
    max-width: 35vw;
    height: 60vh;
    margin-left: 5vw;
    overflow-y: scroll;
}

.placesin {
    border: 1px solid black;
}
