  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    height: 3vh;
}

.navigation {
    display: flex;
    align-items: flex-end;
    margin-left: 50%;
}

.navigation a {
    letter-spacing: 0.1em;
    font-weight: 600;
    text-decoration: none;
    padding: 30px;
    color: black;
}

body {
    font-family: 'Lexend Exa', sans-serif;
}

.map-home-large {
    display: grid;
    grid-template-rows: 1fr 0.3fr;
}

.map-home {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 5vh;
    grid-row-start: 1;
}

.places {
    grid-column-start: 1;
    /* border: 1px solid black; */
    width: 18vw;
    height: 60vh;
    margin-left: 15vh;
    overflow-y: scroll;
    margin-right: 2vw;
}

.selected-places-in {
    border: 1px solid #B5B5B5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.selected-places {
    /* border: 1px solid black; */
    height: 18vh;
    width: 80vw;
    margin-left: 15vh;
    margin-top: 1vh;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.placesin {
    border: 0.5px solid #FFF0F5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    margin: 10px;
    height: 10vh;
}

.placesinn {
    border: 0.5px solid #FFF0F5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #E9E9E9;
    margin: 10px;
    height: 13vh;
    width: 15vw;
    color: #404040;
}

.button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    width: 100px;
    height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.welcome {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    justify-items: center;
}

.home {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    justify-items: center;
}

.berlin-paragraph {
    width: 50vw;
    color: white;
}

/* registration */
.regi-container-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.regi-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
}

.regi-container input {
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 40px;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    letter-spacing: 0.1em;
    /* background-color: #DCEFE0; */
}

.login-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    width: 23vw;
}

.login-container input {
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 40px;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    letter-spacing: 0.1em;
    /* background-color: #DCEFE0; */
}

.profile-body {
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 80vh;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #E9E9E9;
}

.profile-box {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vw;
    margin-top: 20px;
    margin-bottom: : 0;
}

.places-status {
    border: 1px solid black;
    height: 40vh;
    width: 30vw;
}

.profile-img {
    border: 1px solid black;
    height: 20vh;
    width: 18vw;
}

.textbox {
    margin: 0;
}

/* chat */
.chat-body {
    /* border: 1px solid black; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.chat-container {
    /* border: 1px solid black; */
    overflow-y: scroll;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-in {
    border: 0.5px solid #FFF0F5;
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 45vw;
    height: 8vh;
    margin: 2px;

}

.textarea{
    border: 0.5px solid #FFF0F5;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-top: 2vh;
    font-size: 15px;
}

/* profile */
.status-places {
    display: flex;
    flex-direction: rows;
    width: 80vw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.places-in-profile {
    /* border: 1px solid black; */
    width: 18vw;
    height: 40vh;
    margin: 5vw;
    overflow-y: scroll;
}
/* title and the list in the profile */
.listof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.placesin-not-visited {
    border: 0.5px solid #FFF0F5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background-color:#B6B0AD;
    margin: 10px;
    height: 10vh;
}

.home {
    height: 100vh;
    background: url("/images/homeback.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
